<div id="map" class="map"></div>

<!--/container-->
<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.14.1/build/ol.js"></script>
<script type="text/javascript">
      var map = new ol.Map({
        target: 'map',
        layers: [
          new ol.layer.Tile({
            source: new ol.source.OSM({
              url: 'https://tile.openstreetmap.org/{z}/{x}/{y}.png',
            })
          })
        ],
        view: new ol.View({
          center: ol.proj.fromLonLat([-1.8751769, 53.384281]),
          zoom: 12
        })
      });

        {{#each ethels}}
        var element = document.createElement('div');
        element.innerHTML = '<div class="text-center bg-white px-2 bg-opacity-100 text-sm rounded shadow"><a href="/ethel/{{slug}}">{{name}}</a></div>';
        var marker = new ol.Overlay({
            position: ol.proj.fromLonLat([{{lon}},{{lat}}]),
            positioning: 'center-center',
            element: element,
            stopEvent: false
        });
        map.addOverlay(marker);
        {{/each}}
    </script>