
<!--Card-->
<div>

    {{#each ethels}}
    <p>{{slug}}</p>
    <a href="/ethel/{{slug}}"><img src="/images/ethels/headers/{{image}}" alt="{{ethel.name}}" class="object-cover w-full h-96 object-top"></a>
    {{/each}}
    
</div>
<!--/Card-->